.list-group-item{
    background: darkgray;
    font-size: 20px;
    text-align: center;
}
.list-group-item a{
    text-decoration: none;
    color: aliceblue;
}
.list-group-item a:hover, .list-group-item a:active{
    background: black;
    padding: 5% 20%;
}
